@{
    ViewData["Title"] = "Welcome";
}

<br />
<div class="text-center">
    <h1 class="display-4">Welcome to Your Task Manager</h1>
</div>
<br>

<div class="text-center">
    <img src="~/img/task.png" />
</div>
