
@{
    ViewData["Title"] = "Your Tasks";
}
<br />
<h1 class="display-4">Your Tasks</h1>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-10 offset-md-1 border">
            Stephen Covey's Time Management Matrix
        </div>
    </div>
    <div class="row font-weight-bold">
        <div class="col-md-5 offset-md-1 border">
            Urgent
        </div>
        <div class="col-md-5 border">
            Not Urgent
        </div>
    </div>
    <div class="row">
        <div class="vertical-text col-md-1 border  font-weight-bold">
            Important
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead>Quadrant 1</thead>
           
            </table>
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead>Quadrant 2</thead>
          
            </table>
        </div>
    </div>
    <div class="row">
        <div class="vertical-text col-md-1 border  font-weight-bold">
            Not Important
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead>Quadrant 3</thead>
              
            </table>
        </div>
        <div class="col-md-5 border">
            <table class="table-borderless">
                <thead>Quadrant 4</thead>
            
            </table>
        </div>
    </div>
</div>